.App {
  text-align: center;
  max-width: 85vw;
  margin: 0 auto;
  padding: 16px;
}

@media (max-width: 480px) {
  .App {
    max-width: 100vw;
    padding: 8px;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.apod-card-section-header {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  flex-direction: row;
}

@media (max-width: 767px) {
  .apod-card-section-header {
    flex-direction: column;
    align-items: center;
  }
}


.apod-pagination {
  margin: 0 4px;
  padding: 8px 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
}

.apod-pagination-button-active {
  background-color: #61dafb;
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
